[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git

